body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
    background-color: #000;
    color: #f4f4f4;
}

.contactoformulario.dark-mode{
    background-color: #000;
    color: #f4f4f4;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2.5em;
}
.container {
    width: 90%;
    margin: 20px auto;
}
.section {
    margin-bottom: 40px;
}
.section h2 {
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    color: #0044cc;
}
.section p {
    line-height: 1.6;
}
.contact-form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.contact-form h2 {
    margin-top: 0;
}
.contact-form input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.contact-form textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}


.contact-form button {
    padding: 10px 20px;
    background-color: #003297;
    color: #fff;
    border: none;
    cursor: pointer;
}
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    width: 100%;
}

.toggle-button {
    background-color: #0044cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    header {
        padding: 20px;
    }
    header h1 {
        font-size: 2.5em;
        padding-top: 10px;
    }
    .container {
        width: 80%;
    }
}
@media (min-width: 768px) {
    header {
        padding: 10px;
    }
    header h1 {
        font-size: 3.25em;
        padding-top: 10px;
    }
    .container {
        width: 70%;
    }
}
@media (min-width: 1024px) {
    header h1 {
        font-size: 4em;
        padding-top: 10px;
    }
    .container {
        width: 60%;
    }
}
